@import "colors";

footer{
  background-color: $dark;
  padding: 4rem;
  color: white;
  h2{
    color: $orange;
    font-family: fantasy;
    text-transform: uppercase;
    font-weight: 600;
  }
  h4{
    text-transform: uppercase;
    color:$orange;
  }
  a{
    margin: 0.5rem;
    font-size: 2rem;
    color: white;
    &:hover {
      color: $orange;
    }
  }
}
